.blog {
    background-color: pink;
    width: 400px;
    margin: 50px;
    box-shadow: 10 px 20px 20px gray;
}

#header {
    background-color: lightskyblue;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
    height: 700px;
}

#header h1 {
    text-align: center;
    padding-top: 50px;
}